
.loginform{
    width: 31%;
    padding: 60px 18px 40px 18px;
    margin: auto;
    margin-top: 69px;
    background-color: gray;
}

body{
    margin: 0;
}

.formtoright{
    width: 100%;
}

input{
    padding: 9px;
    margin: 15px 5px;
    border-radius: 23px;
    border: none;
    display: block;
    width: 86%;
}

.loginform button{
    padding: 9px;
    width: 80%;
    display: block;
    margin: auto;
    border-radius: 20px;
    background-color: #64d4cfcc;
    border: none;
    margin: 17px auto 10px auto;
}

.loginform legend{
    color: white;
    text-align: center;
}

.loginP{
    background: rgba(255, 255, 255, 0.35);
    border-radius: 3px;
    top: 10px;
    left: 0;
    right: 0;
    padding: 0 10px;
    bottom: 0;
}

.register{
    margin: auto !important;
    padding: 26px 18px 40px 18px !important;
    clear: both;
}
.register h1{
    margin: 0px;
    margin-bottom: 11px;
    color: wheat;
    text-align: center;
}

    
input[type="checkbox"]{
    display: inline;
    width: auto;
}

.nav{
    float: left;
    width: 100%;
    background-color: antiquewhite;
}

.dropbutton img{
    width: 54px;
    float: right;
}

footer{
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
}
.homeimage{
    background-image: url('questioner1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    clear: both;
    min-height: 100vh;

}

.dropdown{
    position: relative;
    float: right;

}
.dropdownlist {
   display: none;
   position: absolute;
   min-width: 160px;
   right: 0;
   z-index: 1;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0, 0.2)
}

.dropdownlist a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

.dropdownlist a:hover{
    background-color: antiquewhite;
    }

.show{
    display: block !important;

}

.dropbutton{
    padding: 0;
    border: none;
    background-color: inherit;
}

.signup{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(196, 188, 188, 0.5);
    z-index: 9999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
      

}

.signup:target{
    opacity: 1;
    pointer-events: auto;

}

.close1{
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 7px;
    float: right;
    margin: 1% 1% auto auto;

}

.close1 a{
    text-decoration: none;
    color: black;

}

.header img{
    display: inline-block;
    height: 54px;
}

.header{
    float: left;
    display: inline;
}

.header h1{
    display: inline-block;
    margin: 0px;

}

.createmeetupbody{
    background-color: #f1f1f1;
}

.meetup{
    width: 80%;
    margin: auto;
    
}

.meetup select{
    width: 100%;
    margin: 16px 0;
    padding: 9px 0;
}


.meetup input{
    border-radius: 4px;
    width: 100%;
    padding: 9px 0;
}
        
.meetup textarea{
    width:100%;
    display: block;
    margin: 16px 0;
    
}

.meetup img{
    height: 200px;
    width: 100%;
}

.meetup h3{
    display: inline-block;
}
.meet-left{
    float: left;
    width: 49%;

}

.clear{
    clear: both;
}

.createmeetupbody header{
    margin: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}

.meetup button{
    float: right;
    padding: 9px 12px;
    background-color: darkseagreen;
    border-radius: 5px;
}

.containerinside{
    position: relative;
    margin: 30px auto;
    width: 80%;
    border-radius: 7px;
    box-shadow: -2px 9px 25px #4b6b6a;

}

.containerinside h1{
    display: inline;
    margin: 0px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.containerinside img{
    width: 16%;
    display: inline;
}

.containerinside button{
    background-color: #ef0404;
    float: right;
}

.meetupz{
    margin: auto;
    display: table;
    padding: 20px;
}

.inpost{
    width: 80%;
    background-color: blanchedalmond;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    height: 100vh;
}

.none{
    display: none;
}

.posted-quiz{
    overflow: hidden;
}

.posted-quiz img{
    width: 45px;
    height: 45px;
}
.posted-quiz a{
   display: inline-block;
   margin: 0 15px;

}

.mr-right{
    float: right;
}

.inlineparagraph p{
    display: inline;
}

.mr-left{
    float: left;
}

#comm{
    float: left;
    background-color: azure;
}

.upcmeetups{
    float: right;
    background-color: wheat;
    margin: 6px;
    height: 20vh;
    border-radius: 10px;
    padding: 14px 10px;
}

.questions{
    width: 56%;
}

ft-reset-password-162984182
.resetclass{
    clear: both;
    margin: auto;
    width: 60%;
}
#reset{
    top: 50%;
}

.resetclass input{
    border: 1px solid green;
}

.subbutton{
    width: 89%;
    border-radius: 40px;
    background-color: burlywood;
    box-shadow: 3px 4px 8px black;
}
.profile img{
    width:100%;
}

.profile{
    width: 76%;
    margin: auto;
}

#count{
    width: 100%;
    margin: auto;
    width: fit-content;
}

.count{
    display: inline-block;
    padding: 9px 25px;
    border-radius: 4px;
    border: 1px solid black;    
}

.quizlist{
    list-style-type: none;
}

.quizlist li{
    padding: 19px;
    margin: 21px 1px;
    border-radius: 5px;
    box-shadow: 0px 2px 18px -1px black;
}

.quizlist li:hover{
    background-color: #dadae6;
}

.quizcount{
    background-color: cadetblue;
}

.commentcount{
    background-color: darkkhaki;
}

.usercommpostno{
    width: 80%;
    margin: auto;
}

.cma{
    float: right;
    padding: 20px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 45px;
}













@media only screen and (max-width: 600px) {
    .loginform{
        width: 100%;
        background: none;
        padding: 0;
        
    }


  }
  